// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define U_TAPPING_TERM 180

/ {
  behaviors {
    u_lt_hp20: u_lt_hp20 {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "hold-preferred";
      bindings = <&mo>, <&kp>;
    };
    u_lt_sym_hp35: u_lt_sym_hp35 {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "hold-preferred";
      bindings = <&mo>, <&kp>;
    };
  };
};
